
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.status-container {
    margin-right: 10px;

}

.todo-details {
    flex-grow: 1;
}

.status {
    margin-top: 5px;
}

.additional-info {
    color: #6c757d;
    font-size: 12px;
    margin-top: 5px;
}

.actions {
    display: flex;
    gap: 5px;
}